<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>template-default</title>
    <link rel="stylesheet" href="@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');">
</head>

<body style="margin: 0; 
padding: 0; 
font-family: 'Inter', sans-serif;
background: linear-gradient(#FFBBDF, #F41E8F);
display: flex;
justify-content: center;
align-items: center;
color: white;
            ">
    <table style="width: 600px">
        <tr>
            <td style="display: flex; justify-content: center; align-items: center;">
                <img src="https://i.im.ge/2024/06/24/K4TcJM.image-16-removebg-preview-1.png" alt="">
            </td>
        </tr>
        <tr>
            <td style="margin: 16px 32px;
            display: flex;  
            justify-content: center;
            flex-direction: column;
            align-items: center;
            color: #EB429B;
            font-size: 18px;
            font-weight: 600;">
                <h1>Olá, queridos leitores!</h1>
                <p>É com grande entusiasmo que lançamos nossa primeira edição da newsletter "Barbie Magazine". Prepare-se para mergulhar no universo fascinante da Barbie, onde cada história é uma celebração do poder do empoderamento feminino e da influência da Barbie na infância de gerações através das décadas.</p>
                <img width="800px" src="https://i.im.ge/2024/06/29/VlVF2W.noticias-novas-todas-semana.png" alt="">
            </td>
        </tr>
        <tr>
            <td style="
            display: flex;
            justify-content: center;
            align-items: center;
            color:#eb097e;">
                <img src="https://i.im.ge/2024/06/29/Vlf7Rq.image-removebg-preview-6-3.png" alt="">
                <h1>Não perca!</h1>
                <img src="https://i.im.ge/2024/06/29/VlfIQp.image-removebg-preview-6-4.png" alt="">
            </td>
            <td style="
            display: flex;
            justify-content: center;
            text-align: center;
            font-size: 20px;
            color: #D41579;
            font-weight: 600;">
                <p>Junte-se a nós nesta jornada emocionante de descobertas, aprendizados e celebração. A cada edição, vamos explorar novas histórias e conquistas que iluminam o caminho para um futuro onde cada indivíduo pode brilhar com autenticidade e confiança.</p>
            </td>
        </tr>

        <tr>
            <td style="padding: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            color:#eb097e;">
                <img src="https://i.im.ge/2024/06/29/Vlf7Rq.image-removebg-preview-6-3.png" alt="">
                <h1>Nosso diferencial: </h1>
                <img src="https://i.im.ge/2024/06/29/VlfIQp.image-removebg-preview-6-4.png" alt="">
            </td>
        </tr>


        <tr  style="padding: 10px;
        font-size: 22px;
        text-align: justify;
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: #fcd4e9;">
            <td style="width: 500px;">
                <p>Semanalmente você receberá um email, onde retratamos como a Barbie quebrou barreiras e promoveu a diversidade em todas as suas formas, inspirando meninas ao redor do mundo a abraçar sua singularidade, através dos filmes, desenhos, e até mesmo das bonecas, incetivando as crianças a explorarem suas capacidades e seguirem as profissões que lhe atraem.p>
            </td>
            <td>
                <img width="220px" src="https://i.im.ge/2024/06/29/VlVNEh.image-removebg-preview-1-2.png" alt="">
            </td>
        </tr>

        <tr>
            <td style="padding: 10px;
            display: flex;
            justify-content: center;
            align-items: center;">
                <img height="50px" src="https://i.im.ge/2024/06/29/Vlfsu4.Siga-nos-nas-redes-sociais-par-29-06-2024-1-1.png" alt="">
            </td>
        </tr>

        <tr>
            <td style="padding: 10px;
            display: flex;
            justify-content: space-around;
            align-items: center;">
             <img width="60px" src="https://i.im.ge/2024/06/29/VlfFx8.Page-1.png" alt="">
                <img width="60px" src="https://i.im.ge/2024/06/29/VlfrQ9.Vector.png" alt="">
                <img width="60px" src="https://i.im.ge/2024/06/29/VlVTe1.Vector-1.png" alt="">
            </td>
        </tr>

        <tr>
            <td style="padding: 10px;
            height: 420px;
            margin: auto;">
                <img src="https://i.im.ge/2024/06/29/VlVQcP.WhatsApp-Image-2024-06-29-at-12-26-45-removebg-preview-1.png" alt="">
            </td>
        </tr>


    </table>
</body>

</html>