<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>template-default</title>
</head>

<body style="margin: 0; 
padding: 0; 
font-family:'Times New Roman', Times, serif; 
background-color: #FA9ECF;
display: flex;
justify-content: center;
align-items: center;
color: white;
            ">
    <table style="width: 600px">
        <tr>
            <td style="margin: 16px 32px;
            display: flex;  
            justify-content: space-between; 
            align-items: center;">
                <h1>Barbie Moda & Magia</h1>
                <img width="60px" src="https://i.pinimg.com/originals/61/74/55/6174557a5b14992342a5cec5f0eb7d9d.png" alt="">
            </td>
        </tr>
        <tr>
            <td style="margin: 16px 32px;
            display: flex;  
            justify-content: center; 
            align-items: center;">
                <img width="700px" src="https://wallpapercave.com/wp/wp2809425.jpg" alt="">
            </td>
        </tr>
        <tr>
            <td style="border-top: 1px solid white;
            border-bottom: 1px solid white;
            width: 100%;
            display: flex;
            justify-content: space-between; 
            align-items: center;">
                <p>Newsletter</p>
                <p>22/06</p>
            </td>
        </tr>
        <tr>
            <td style="padding: 10px;">Olá meu nome é, {{name}}, deixei essa mensagem no seu portifólio, {{message}}, para me responder, use o meu email {{email}}.</td>
        </tr>
    </table>
</body>

</html>