<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>template-default</title>
</head>
<body style="margin: 0; 
padding: 0; 
font-family:'Times New Roman', Times, serif; 
background-color: #eb047e;
display: flex;
justify-content: center;
align-items: center;
color: white;
border: 2px solid white; 
border-radius: 20px;
margin: 40px 220px; 
            ">
    <table>
        <tr>
            <td style="display: flex; 
            justify-content: space-between; 
            align-items: center;">

                <h1>Barbie Moda & Magia</h1>
                <img src="../../../../img/logo.png" alt="">
                
            </td>
        </tr>
        <tr>
            <td>
                <img src="" alt="">
            </td>
        </tr>
    </table>
</body>
</html>